*{
    box-sizing: border-box;
}

body{
    
    margin: 0px;
}

header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

nav{
    height: 100%;
    display: flex;
    gap: 60px;
    align-items: center;    
    justify-content: flex-end;
    padding-left: 70px;
}

nav a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

nav a:hover{
    color: rgb(15, 159, 102);
}

.logo{
    padding-left: 90px;
}

.favourite img{
    height: 19px;
    width: 22px;
}

.cart img{
    height: 19px;
    width: 22px;
}


.search-bar{
    position: relative;
    right: 30px;
    display: flex;
    height: 40%;    
    border: 1px solid lightgray;

}

.search-bar .image{
    width: 40px;
    display: flex;
    align-items: center;
}


.search-bar input{
    width: 300px;
    border: none;
}

.favourite{
    position: relative;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: relative;
}

.favourite .fav-three{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(15, 159, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.favourite .fav-three p{
    margin: 0px;
    font-size: x-small;
    color: white;
    padding: 15px;
}

.cart{
    position: relative;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.cart .cart-three{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(15, 159, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.cart .cart-three p{
    margin: 0px;
    font-size: x-small;
    color: white;
    padding: 15px;
}


.promotion-card{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.promotion-card .headings{
    padding-left: 50px;
}

.promotion-card .headings h4{
    color: rgb(183, 182, 182);
    font-size:large;
}

.promotion-card .headings #line-one{
    font-size:xxx-large;
    margin-bottom: 0px;
    margin-top: 20px;
}

.promotion-card .headings #line-two{
    font-size: 70px;
    color: rgb(15, 159, 102);
    margin-top: 10px;
    margin-bottom: 20px;
}

.promotion-card .headings p{
    font-size:large;
    color: rgb(132, 130, 130);
    margin-top: 0px;
}

.promotion-card .headings #p-1{
    margin-bottom: 0px;
}

.promotion-card .promotion-img{
    padding-right: 50px;
}

.promotion-card button{
    padding: 10px;
    background-color: rgb(15, 159, 102);
    border: none;
    color: white;
}

.promotion-card button:hover{
    color: rgb(15, 159, 102);
    background-color: rgb(221, 214, 214);
}

.banner-img{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin:auto;
}

.banner-img .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 100%;
    height: 100px;
}

.banner-img .heading .buttons{
    display: flex;
    gap: 20px;
}

.banner-img .items{
    display: flex;
    justify-content: space-between;
}

.items .T-shirt{
    width: 200px;
    height: 230px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items .T-shirt img{
    padding: 10px;
    width: 190px;
    height: 190px;
}

.items .Bags{
    width: 190px;
    height: 190px;
}

.items .Bags img{
    width: 190px;
    height: 190px;
}

.items .Sandal{
    width: 190px;
    height: 190px;
}

.items .Sandal img{
    width: 190px;
    height: 190px;
}

.items .Scarf-Cap{
    width: 190px;
    height: 190px;
}

.items .Scarf-Cap  img{
    width: 190px;
    height: 190px;
}

.items .Shoes{
    width: 190px;
    height: 190px;
}

.items .Shoes img{
    width: 190px;
    height: 190px;
}